{% extends "base.html" %}
<!-- {%load crispy_forms_tags%} -->
{% block content%}
<style>
    .border-bottom,
    .border-top {
        text-align: center;
    }

    input {
        max-width: 50em
    }

    ;
</style>

<div class="d-flex justify-content-center align-items-center my-3">
    <div class="form-control my-3" style="width: 600px; border-radius: 10px;">
        <form class="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="text-center mt-3">
                    <h3>Join Today</h3>
                </legend>

                <!-- {{ form|crispy }} -->
            </fieldset>
            <div class="form-group">
                <center><button class="btn btn-outline-info" type="submit">Sign Up</button></center>
            </div>
            <div style="margin: 30px 0 40px 0;">

                <small class="text-muted">
                    Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                </small>
            </div>
        </form>
    </div>
</div>


{%endblock content%}